@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
.active{ 
    color: blue;
} 
.category__link{ 
    color: black; 
    text-decoration: none;
} 
.main__container { 
    padding: 0 2.2%;
}  
.menu__item{ 
    margin: 3.8% 0;  
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;

}
.menu__list{  
    width: 100%;
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;
    gap: 1.7rem;
}  
.menu__list::after {
    content: '';
    flex-grow: 1;
}
/* .menu__list:last-child{ 
    justify-content: flex-start;
}  */
.menu__title{  
    margin-bottom: 1.5%;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
